

  .container__header{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
  }
  
  .header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
  }

  .header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  .header_logo {
    position: relative;
    z-index: 3;
    flex: 0 0 60px;
  }

  .header_logo img{
    max-width: 100%;
    display: block;
  }

  .header__burger{
    display: none;
  }
  .header__menu{
    font-size: 20px;
  }

  .header__list{
    display: flex;
    position: relative;
    z-index: 2;
  }

  .header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
  }

  .header__link {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
  }
  .header__link:hover{
    color: #0000ff;
  }
  
  @media (max-width: 767px){
    .header_body{
      height: 50px;
    }
    .header_logo{
      flex: 0 0 40px;
    }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after{
    bottom: 0;
  }
  .header__burger:before{
    top: 0;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__burger.active:after{
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__burger.active:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active{
    top: 0;
  }
  .header__list{
    display: block;
  }
  .header__list li{
    margin: 0px 0px 20px 0px;
  }
}

 